<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Docker Image Registry</title>
    <!-- link rel='stylesheet' href='/stylesheets/style.css'/ -->
    <!-- Bootstrap core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body role="document">
<div class="container">
    <!-- Static navbar -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Docker Image Registry</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Images</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </div>

    <!-- Main component for a primary marketing message or call to action -->
    <p><h1>Docker images</h1></p>
    <div class="panel panel-default" ng-controller="imagesController">
        <form class="navbar-form navbar-left" name="searchForm">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="searchTerm" autofocus="true" placeholder="Search the registry" />
            </div>
            <button type="submit" class="btn btn-default" ng-click="search()"><span class="glyphicon glyphicon-search"></span> Search</button>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Tag</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items">
                    <td class="col-md-3"><a href="/images/{{ item.id }}">{{ item.displayName }}</a></td>
                    <td class="col-md-1">{{ item.tag }}</td>
                    <td>{{ item.description }}</td>
                    <td>
                        <a href="/images/{{ item.id }}"><span class="glyphicon glyphicon-wrench"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pagination pull-right">
            <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged()"></pagination>
        </div>
    </div>
</div> <!-- /container -->
<script src = "/bower_components/angular/angular.min.js"></script>
<script src = "/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src = "/javascripts/controlers/dockerImageControlers.js"></script>

</body>
</html>

