<!DOCTYPE html>
<html ng-app="homepage">
<head>
    <title>Docker Image Registry</title>
    <% include header.ejs %>
</head>
<body role="document">
<div class="container">
    <!-- Static navbar -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Docker Hub</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Images</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </div>

    <!-- Main component for a primary marketing message or call to action -->
    <p><h1>Repositories</h1></p>
    <div class="panel panel-default" ng-controller="repositoriesController">
        <form class="navbar-form navbar-left" name="searchForm">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="searchTerm" autofocus="true" placeholder="Search the registry" />
            </div>
            <button type="submit" class="btn btn-default" ng-click="search()"><span class="glyphicon glyphicon-search"></span> Search</button>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th class="col-md-2">Name</th>
                    <th class="col-md-6">Description</th>
                    <th class="col-md-1">Automatic build</th>
                    <th class="col-md-1">Official repository</th>
                    <th class="col-md-1">Stars</th>
                    <th class="col-md-1">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="repository in items">
                    <td>{{ repository.name }}</td>
                    <td class="td-description">{{ repository.description }}</td>
                    <td class="text-center"><span class="glyphicon glyphicon-ok icon-success" ng-show="repository.is_automated"></span></td>
                    <td class="text-center"><span class="glyphicon glyphicon-ok icon-success" ng-show="repository.is_official"></span></td>
                    <td>{{ repository.star_count }}</td>
                    <td>
                        <a href="#"><span class="glyphicon glyphicon-wrench"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="panel-body" ng-show="!isReady">
            &nbsp;&nbsp;<image src="/images/loading.gif"/> Loading...
        </div>
        <div class="panel-body"><p>Total number: {{totalItems}}</p></div>
        <div class="pagination pull-right">
            <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged()"></pagination>
        </div>
    </div>
</div> <!-- /container -->
<% include footer.ejs %>
<script src = "/javascripts/controllers/homepageControllers.js"></script>
</body>
</html>