<!DOCTYPE html>
<html ng-app="registry_console">
<head>
    <title>Docker Image Registry</title>
    <% include header.ejs %>
</head>
<body role="document">
<div class="container" ng-controller="imagesController">
    <% include navbar.ejs %>
    <div class="page-header">
        <h1>Images <small> private registry</small></h1>
    </div>
    <div class="row">
        <form class="navbar-form navbar-left" name="searchForm">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="searchTerm" autofocus="true" placeholder="Search the registry" />
            </div>
            &nbsp;
            <button type="submit" class="btn btn-default" ng-click="search()"><span class="glyphicon glyphicon-search"></span> Search</button>
            <span ng-show="!isReady">&nbsp;&nbsp;&nbsp;<image src="/images/loading.png"/> Loading...</span>
        </form>
    </div>
    <div class="panel panel-default">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-md-3">Name</th>
                    <th class="col-md-3">Tag</th>
                    <th class="col-md-2">Created</th>
                    <th class="col-md-1">Docker version</th>
                    <th class="col-md-1">Actions</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td ng-bind-template="Total number: {{totalItems}}"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
            <tbody>
                <tr ng-repeat="item in items">
                    <!-- td><a href="/private_registry/images/{{ item.id }}?repo={{ item.displayName }}&tag={{ item.tag }}" ng-bind="item.displayName"></a></td -->
                    <td><a href="/private_registry/repositories/{{ item.displayName }}?&tag={{ item.tag }}" ng-bind="item.displayName"></a></td>
                    <td ng-bind="item.tag"></td>
                    <td ng-bind-template="{{ item.created | date:'short' }}"></td>
                    <td ng-bind="item.docker_version"></td>
                    <td>
                        <a href="/private_registry/repositories/{{ item.displayName }}?&tag={{ item.tag }}"><span class="glyphicon glyphicon-wrench"></span></a>
                        <a href="#" ng-click="openDeletionDialog(item.displayName + ':' + item.tag)"><span class="glyphicon glyphicon-remove"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pagination pull-right">
            <pagination total-items="totalItems" items-per-page="pageSize" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged()"></pagination>
        </div>
    </div>
</div> <!-- /container -->


<script type="text/ng-template" id="deleteImageDialog.html">
    <div class="modal-header">
        <h3 class="modal-title">Delete image</h3>
        <span>Do you want to delete the image "{{seletedImage}}" ?</span>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<% include footer.ejs %>
</body>
</html>
