<!-- BEGIN HEADER INNER -->
<div class="page-header-inner container">
	<!-- BEGIN LOGO -->
	<div class="page-logo">
		<img src="./images/docker-logo.png" alt="logo" class="logo-default"/>
		<div class="menu-toggler sidebar-toggler">
			<!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
		</div>
	</div>
	<!-- END LOGO -->
	<!-- BEGIN RESPONSIVE MENU TOGGLER -->
	<a href="javascript:" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
	</a>
	<!-- END RESPONSIVE MENU TOGGLER -->

	<div class="page-top">

		<!-- BEGIN TOP NAVIGATION MENU -->
		<div class="top-menu">
			<ul class="nav navbar-nav pull-right">
				<!-- BEGIN NOTIFICATION DROPDOWN -->
				<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
				<li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar" ng-controller="tasksController">
					<a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
					<i class="icon-bell"></i>
					<span class="badge badge-default">{{ tasks.length }} </span>
					</a>
					<ul class="dropdown-menu">
						<li class="external">
							<h3><span class="bold">{{ tasks.length }} TASKS</span></h3>
						</li>
						<li>
							<ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
								<li  ng-repeat="task in tasks">
									<a href="javascript:">
                                        <span class="time">{{ task.updated | date:'MM/dd hh:mm' }}</span>
                                        <span class="details">
                                            <span class="label label-sm label-icon {{ getLabel(task) }}">
                                                <i class="fa {{ getIcon(task) }}"></i>
                                            </span>
                                            {{task.message}}
                                        </span>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<!-- END NOTIFICATION DROPDOWN -->
			</ul>
		</div>
		<!-- END TOP NAVIGATION MENU -->
	</div>
	<!-- END PAGE TOP -->
</div>
<!-- END HEADER INNER -->