.icon-star {
    color: #CC6600;
}

.icon-success {
    color: #5CB85C;
}

.td-description {
    white-space: pre-wrap;
}

.modal-vertical-centered { /* Edited classname 10/03/2014 */
    padding-top: 5%;
}
